# ⛔️ Ne pas versionner les environnements virtuels
.venv/
venv/
env/

# ⛔️ Ne pas versionner les fichiers Python générés automatiquement
__pycache__/
*.py[cod]
*.so

# 🔒 Ne pas versionner les fichiers lourds ou sensibles
#*.csv
*.xlsx
*.pkl
*.sav

# ✅ Autoriser les fichiers nécessaires depuis /data_sample et /model
!data_sample/*.csv
!model/*.joblib

# 🧪 Caches et logs
*.log
*.tmp
.cache/

# 📓 Notebooks checkpoints
.ipynb_checkpoints/

# 💻 IDEs
.idea/
.vscode/
